*{
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color:#353535;
    color: white;
}
.main-container{
    display: grid;
    grid-template-columns:repeat(8,12.5%);
    grid-template-rows: 1fr 2fr 2fr 2fr;
    height: 100vh;
}
header{
    background-color: #3C6E71;
    color: #FFFFFF;
    padding: 8px;
    grid-area: 1/1/1/9;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}
.nav-menu{
    display: flex;
    font-size: 1.25rem;
    list-style-type: none;
    gap: 30px;
    padding-right: 40px;
    border-bottom: white solid 2px;
}
.nav-menu a{
    color: white;
}
.nav-menu a:link{
    text-decoration: none;
}
.main-box{
    background-color: #284B63;
    margin: 1rem 15%;
    grid-area: 2/2/5/8;
    text-align: center;
    color: white;
    font-size: 2rem;
}
.data{
    display: flex;
    background-color: #284B63;
    font-size: 1.5rem;
    flex-direction: column;
    margin: 1rem 20%;
    height: 600px;
    align-items: center;
    max-height: 600px;
}
/* .data p{
    text-align: justify;
    margin: 0 30%;
    font-size: 1.2rem;
    padding: 10% 0 0;
    line-height: 2;
} */
.data table{
    width: 500px;
    height: 360px;
    background-color: #D9D9D9;
    border-collapse: collapse;
    color: #353535;
    font-size: 20px;
}
.data tr:nth-child(even){
    background-color: #FFFFFF;
}
.table-data{
    border: 1px solid black ;
}
.git-img{
    height: 150px;
    width: 150px;
    filter: invert(100%);
    padding: 40px 0;
}
.btns{
    display: flex;
    flex-direction: column;
    margin: 20px 30%;
}
.btn {
    background-color:#D9D9D9 ;
    border: none;
    color: black;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
  }
.btns a:link{
    text-decoration: none;
    color: black;
}
.btns a:visited{
    color:#353535;
}
.nav-menu a:hover{
    color: aqua;
}
.btn:hover{
    color: aquamarine;
}
.container-efi{
    display: flex;
    background-color: #D9D9D9;
    color: #353535;
    margin: 1rem 10%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    justify-content: center;
}
.efi table{
    border-collapse: collapse;
    width: 450px;
    height: 200px;
}
.container-efi ,td, th{
    border: 1px solid black;
}
.efi th{
    background-color: #284B63;
    color: white;
}
.efi tr:nth-child(even){
    background-color: white;
}
.efi ul{
    text-align: justify;
}

.table-img{
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
.t-center{
    text-align: center;
}

form{
    display: flex;
    background-color: #284B63;
    width: 400px;
    padding: 15px;
    margin: 5% auto 10%;
    border-radius: 3px;
    flex-direction: column;
}
input, textarea{
   outline: none;
   border:0;
   width:100%;
}
.field{
    border: 1px solid #ccc;
    padding: 10px;
    width: 378px;
}
.field:focus{
    border: 4px #353535;
}